@model IEnumerable<Translation>

@inject translate.web.Resources.LocService SharedLocalizer

<div class="card">
    <div class="card-header">
        <a asp-controller="Project" asp-action="Translations">@SharedLocalizer.GetLocalizedHtmlString("translationsLink")</a>
    </div>
    <div class="card-body">
        @if (!Model.Any())
        {
            <p class="text-warning text-center">@SharedLocalizer.GetLocalizedHtmlString("notranslationsTitle")</p>
        }
        else
        {
            <div class="row">
                <div class="col-md-6">
                    @SharedLocalizer.GetLocalizedHtmlString("translatedDocs"): @Model.Where(x => x.IsCompleted == true).Count() / @Model.Count()
                </div>

                <div class="col-md-6">
                    @{
                        var total = 0;
                        foreach (var item in Model)
                        {
                            total += item.TranslationDictionarys.Where(x => x.NewValue != null).Count();
                        }
                    }
                    @SharedLocalizer.GetLocalizedHtmlString("totalwordsTranslated"): @total
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @SharedLocalizer.GetLocalizedHtmlString("waitingForApproval"): @Model.Where(x => x.IsWaiting == true).Count()
                </div>
            </div>
            <br />
        }
        <a class="btn btn-primary btn-sm btn-block" asp-controller="Project" asp-action="NewLocale">@SharedLocalizer.GetLocalizedHtmlString("newTranslation")</a>
        @*@if (ViewBag.exist)
        {
            <a class="btn btn-primary btn-sm btn-block" asp-controller="Project" asp-action="NewLocale">@SharedLocalizer.GetLocalizedHtmlString("newTranslation")</a>
        }
        else
        {
            <a class="btn btn-primary btn-sm btn-block disabled">@SharedLocalizer.GetLocalizedHtmlString("newTranslation")</a>
        }*@

    </div>
</div>