@model IEnumerable<Translation>

@inject translate.web.Data.ApplContext context
@inject translate.web.Resources.LocService SharedLocalizer


@if (!Model.Any())
{
    <a class="btn btn-primary" asp-controller="Project" asp-action="ProjectDocument" role="button">Pradinis dokumentas</a>
    <hr />
    <h2 class="text-warning text-center">@SharedLocalizer.GetLocalizedHtmlString("addTranslationTitle")</h2>
}
else
{
    <a class="btn btn-primary" asp-controller="Project" asp-action="ProjectDocument" role="button">Pradinis dokumentas</a>
    <hr />
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr class="d-flex">
                    <th class="col" scope="col">@SharedLocalizer.GetLocalizedHtmlString("translationsLink")</th>
                    <th class="col" scope="col">
                        <div id="filterButton" class="btn-group">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i id="cogSpin" class="fa fa-cog fa-spin" style="display:none"></i> @SharedLocalizer.GetLocalizedHtmlString("translationsFilter")
                            </button>
                            <div class="dropdown-menu">

                                @if (ViewBag.showAll == false)
                                {
                                    <button id="mineFilter" class="dropdown-item">@SharedLocalizer.GetLocalizedHtmlString("myTranslations")</button>
                                    <button id="allFilter" class="dropdown-item active">@SharedLocalizer.GetLocalizedHtmlString("allTranslations")</button>
                                }
                                else
                                {
                                    <button id="mineFilter" class="dropdown-item active">@SharedLocalizer.GetLocalizedHtmlString("myTranslations")</button>
                                    <button id="allFilter" class="dropdown-item">@SharedLocalizer.GetLocalizedHtmlString("allTranslations")</button>
                                }

                            </div>
                        </div>
                    </th>
                    <th class="col" scope="col"></th>
                    <th class="col" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var color = "";
                    if (item.IsCompleted)
                    {
                        color = "table-success";
                    } else if (item.IsWaiting)
                    {
                        color = "table-primary";

                    }

                    <tr class="d-flex @color">
                        <td class="col-2">
                            @if (item.TranslatorId.ToString() == ViewBag.userId && item.IsWaiting == false && item.IsCompleted == false)
                            {
                                <a asp-controller="Project" asp-action="Editor" asp-route-id="@item.Id">@item.Title</a>
                            }
                            else if (item.TranslationDictionarys.Count != 0)
                            {
                                <a asp-controller="Project" asp-action="ReviewTranslation" asp-route-id="@item.Id">@item.Title</a>
                            }
                            else
                            {
                                @item.Title
                            }
                        </td>
                        <td class="col-sm-4">
                            @if (item.HasDocument)
                            {
                                <div class="progress">
                                    @{
                                        double all = item.TranslationDictionarys.Count() != 0 ? item.TranslationDictionarys.Count() : 1;
                                        double proc = item.TranslationDictionarys.Where(x => x.NewValue != null).Count();
                                    }
                                    <div class="progress-bar bg-success" role="progressbar" style="width: @Math.Round(((proc/all)*100))%" aria-valuenow="@Math.Round(((proc/all)*100))" aria-valuemin="0" aria-valuemax="100">@Math.Round(((proc / all) * 100))%</div>
                                </div>

                            }
                            else
                            {
                                <h6>pridėta žodžių: <Strong>@item.TranslationDictionarys.Count</Strong></h6>

                            }
                        </td>
                        <td class="col-sm-3">
                            @if (item.HasDocument)
                            {
                                <p>@SharedLocalizer.GetLocalizedHtmlString("appointed"): <strong>@item.Translator.Name @item.Translator.Surname </strong>@ViewBag.docLanguage > @item.Language.Name</p>
                            }
                            else
                            {
                                <p>@SharedLocalizer.GetLocalizedHtmlString("appointed"): <strong>@item.Translator.Name @item.Translator.Surname</strong> @item.Language.Name</p>
                            }
                        </td>
                        <td class="col-sm-3">
                            <div class="btn-group btn-group-sm d-flex flex-wrap" style="float:right" role="group">
                                @if (ViewBag.creator)
                                {
                                    if (item.IsWaiting == true)
                                    {
                                        <a asp-controller="Project" asp-action="CheckTranslation" asp-route-id="@item.Id" class="btn btn-primary">@SharedLocalizer.GetLocalizedHtmlString("verify")</a>

                                    }
                                    <button type="button" id="deleteButton" data-toggle="modal" data-translate="@item.Id" data-project="@item.ProjectId" data-name="@item.Title" data-target="#DeleteTranslationsModal" class="btn btn-danger btn-sm" style="float:right">@SharedLocalizer.GetLocalizedHtmlString("deleteButton")</button>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


}

@if (ViewBag.creator)
{
    <div class="modal fade" id="DeleteTranslationsModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">@SharedLocalizer.GetLocalizedHtmlString("deletionTitle")</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@SharedLocalizer.GetLocalizedHtmlString("deleteTranslateBody")</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer.GetLocalizedHtmlString("noButton")</button>
                    <button id="deleteTranslation" type="button" class="btn btn-primary">@SharedLocalizer.GetLocalizedHtmlString("yesButton")</button>
                </div>
            </div>
        </div>
    </div>
}