@model UploadFileViewModel

@inject translate.web.Resources.LocService SharedLocalizer

<a asp-controller="Project" asp-action="ProjectDocuments" class="btn btn-info"><i class="fa fa-angle-double-left"></i> @SharedLocalizer.GetLocalizedHtmlString("goBackButton")</a>
<hr />
@if (TempData["message"] != null)
{
    <br />
    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        @TempData["message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (TempData["messo"] != null)
{
    <br />
    <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
        @TempData["messo"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<h2>@SharedLocalizer.GetLocalizedHtmlString("newDocAddition"): <strong class="text-danger">(@SharedLocalizer.GetLocalizedHtmlString("maxDocSize"))</strong></h2>
<hr />
<form asp-controller="Project" asp-action="NewDocument" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="File"></label>
                <input type="file" asp-for="File" class="form-control-file">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="LanguageId" class="control-label"></label>
                <select asp-for="LanguageId" class="form-control" asp-items="ViewBag.LanguageId"></select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="DocumentTypeId" class="control-label"></label>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#exampleDoc">@SharedLocalizer.GetLocalizedHtmlString("example")</button>
                    </div>
                    <select id="docSelect" class="custom-select form-control" asp-for="DocumentTypeId" asp-items="ViewBag.DocumentTypeId"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <button class="btn btn-success" style="float:right">@SharedLocalizer.GetLocalizedHtmlString("uploadButton")</button>
            </div>
        </div>
    </div>
</form>

<div class="modal fade bd-example-modal-lg" id="exampleDoc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleDocTitle">@SharedLocalizer.GetLocalizedHtmlString("example")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea readonly class="form-control-plaintext" id="docText" rows="20" style="border:none;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        jQuery(document).ready(function () {

            jQuery.ajax({
                type: 'GET',
                url: '/Project/@ViewBag.projectId/GetExampleAsync?Id=' + jQuery('#docSelect').val(),
                success: function (result) {
                    jQuery('#docText').text(result);
                },
                error: function (result) {
                }
            });

            jQuery('#docSelect').change(function () {
                var itemId = jQuery('#docSelect').val();

                            jQuery.ajax({
                type: 'GET',
                url: '/Project/@ViewBag.projectId/GetExampleAsync?Id=' + itemId,
                success: function (result) {
                    jQuery('#docText').text(result);
                },
                error: function (result) {
                }
            });

            });



        });
    </script>
}