
@inject translate.web.Resources.LocService SharedLocalizer


<a class="btn btn-info" asp-controller="Project" asp-action="Index"><i class="fa fa-angle-double-left"></i> @SharedLocalizer.GetLocalizedHtmlString("goBackButton")</a>
<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#downloadModal">@SharedLocalizer.GetLocalizedHtmlString("downloadTranslation")</button>
<hr />
<div class="table table-responsive">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th scope="col">@SharedLocalizer.GetLocalizedHtmlString("key")</th>
                <th scope="col">@SharedLocalizer.GetLocalizedHtmlString("givenTranslation")</th>
                <th scope="col">@SharedLocalizer.GetLocalizedHtmlString("newTranslationWord")</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th scope="col">@SharedLocalizer.GetLocalizedHtmlString("key")</th>
                <th scope="col">@SharedLocalizer.GetLocalizedHtmlString("givenTranslation")</th>
                <th scope="col">@SharedLocalizer.GetLocalizedHtmlString("newTranslationWord")</th>
            </tr>
        </tfoot>
    </table>
</div>

<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="downloadModalLabel">@SharedLocalizer.GetLocalizedHtmlString("downloadTranslation")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">@SharedLocalizer.GetLocalizedHtmlString("postTitle"):</label>
                        <input type="text" class="form-control" id="nameTitle">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">@SharedLocalizer.GetLocalizedHtmlString("documentType"):</label>
                        <select id="typeDoc" class="form-control" asp-items="ViewBag.DocumentTypeId"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer.GetLocalizedHtmlString("cancelButton")</button>
                <button id="downloadBtn" type="button" class="btn btn-primary">@SharedLocalizer.GetLocalizedHtmlString("downloadButton")</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
<script>
            jQuery('#example').DataTable({
            "ajax": {
                "url": "/Project/@ViewBag.projectid/GetTranslationsAjax?tranId=@ViewBag.translationId",
                "dataSrc": ""
            },
            "columns": [
                { "data": "name" },
                { "data": "givenValue" },
                { "data": "newValue" }
            ],
                "language": {
                    "lengthMenu": "@SharedLocalizer.GetLocalizedHtmlString("dtrecords") _MENU_ @SharedLocalizer.GetLocalizedHtmlString("dtPerPage")",
                    "zeroRecords": "@SharedLocalizer.GetLocalizedHtmlString("dtRecorsNotFound")",
                    "info": "@SharedLocalizer.GetLocalizedHtmlString("dtshowingOf") _PAGE_ @SharedLocalizer.GetLocalizedHtmlString("dtof") _PAGES_",
                    "infoEmpty": "@SharedLocalizer.GetLocalizedHtmlString("dtNoRecords")",
                    "infoFiltered": "(@SharedLocalizer.GetLocalizedHtmlString("dtFilteredFrom") _MAX_ @SharedLocalizer.GetLocalizedHtmlString("dtTotalRecords"))",
                    "search": "@SharedLocalizer.GetLocalizedHtmlString("dtSearch")",
                    "paginate": {
                        "first": "@SharedLocalizer.GetLocalizedHtmlString("dtFirst")",
                        "last": "@SharedLocalizer.GetLocalizedHtmlString("dtLast")",
                        "next": "@SharedLocalizer.GetLocalizedHtmlString("dtNext")",
                        "previous": "@SharedLocalizer.GetLocalizedHtmlString("dtPrevious")"
                    }
            }
        });


    jQuery('#downloadBtn').click(function (e) {
        e.preventDefault();
        if (jQuery('#nameTitle').val().length > 0) {
                var title = jQuery('#nameTitle').val();
                var extId = jQuery('#typeDoc').val();
                jQuery('#downloadModal').modal('hide');
                window.location = '/Project/@ViewBag.projectid/DownloadTranslationAsync?Id=@ViewBag.translationId&Title=' + title + '&ExtensionId=' + extId ;

        }
    });

</script>
}
