@model IEnumerable<ForumPostsViewModel>

@inject translate.web.Resources.LocService SharedLocalizer

<a asp-controller="Home" asp-action="Index" class="btn btn-info"><i class="fa fa-angle-double-left"></i> @SharedLocalizer.GetLocalizedHtmlString("goBackButton")</a>
<hr />
<h5>@SharedLocalizer.GetLocalizedHtmlString("allPosts")</h5>
@if (!Model.Any())
{
    <div class="alert alert-danger text-center" role="alert">@SharedLocalizer.GetLocalizedHtmlString("noNewPosts")</div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="table table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">@SharedLocalizer.GetLocalizedHtmlString("postTitle")</th>
                            <th scope="col">@SharedLocalizer.GetLocalizedHtmlString("postCreateDate")</th>
                            <th scope="col">@SharedLocalizer.GetLocalizedHtmlString("postAuthor")</th>
                            <th scope="col">@SharedLocalizer.GetLocalizedHtmlString("postCommentsCount")</th>
                            <th scope="col">@SharedLocalizer.GetLocalizedHtmlString("postLastComment")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Post" asp-controller="Home" asp-route-id="@item.Id">@item.Title </a>@if (item.IsImportant)
                                    {<span class="badge badge-danger">@SharedLocalizer.GetLocalizedHtmlString("importantBadge")</span>}
                                </td>
                                <td>@item.CreatedTime</td>
                                <td>@item.CreatorName</td>
                                <td>@item.CommentsCount</td>
                                <td>@item.LastCommentAuthor</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

