@model AppIdentityUser

@inject translate.web.Resources.LocService SharedLocalizer
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="MyProfile">@SharedLocalizer.GetLocalizedHtmlString("personalInfoCaption")</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="MyCreds">@SharedLocalizer.GetLocalizedHtmlString("passwordCaption")</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="MyAccount">@SharedLocalizer.GetLocalizedHtmlString("profileCaption")</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-controller="Home" asp-action="MySecurity">@SharedLocalizer.GetLocalizedHtmlString("securityCaption")</a>
    </li>
</ul>
@if (!Model.EmailConfirmed)
{
    <div class="row">
        <div class="col-md-12">
            <h4>@SharedLocalizer.GetLocalizedHtmlString("twoFactorConfirmText")</h4>
            <form asp-controller="Home" asp-action="VerifyEmail" method="post">
                <button type="submit" class="btn btn-info">@SharedLocalizer.GetLocalizedHtmlString("confirmButton")</button>
            </form>
        </div>
    </div>

}
else
{
    <div class="row">
        <div class="col-md-12">
            <h4>@SharedLocalizer.GetLocalizedHtmlString("twostepTitle")</h4>
            <h5>
                @SharedLocalizer.GetLocalizedHtmlString("twostepState"):
                @if (Model.TwoFactorEnabled)
                {
                    <strong class="text-success">@SharedLocalizer.GetLocalizedHtmlString("twoFactoGoodState")</strong>
                }
                else
                {
                    <strong class="text-danger">@SharedLocalizer.GetLocalizedHtmlString("twoFactoBadState")</strong>
                }
            </h5>
            @if (Model.TwoFactorEnabled)
            {

                <div class="btn-group" role="group">
                    <form asp-controller="Home" asp-action="DisableTwoFactorAuthentication" method="post">
                        <button type="submit" class="btn btn-success">@SharedLocalizer.GetLocalizedHtmlString("twoFactorOffButton")</button>
                    </form>
                </div>
            }
            else
            {
                <div class="btn-group" role="group">
                    <form asp-controller="Home" asp-action="EnableTwoFactorAuthentication" method="post">
                        <button type="submit" class="btn btn-success">@SharedLocalizer.GetLocalizedHtmlString("twoFactorOnButton")</button>
                    </form>
                </div>
            }
        </div>
    </div>
}


