@model IEnumerable<ProjectMember>

@inject translate.web.Resources.LocService SharedLocalizer

<a asp-controller="Home" asp-action="Index" class="btn btn-info"><i class="fa fa-angle-double-left"></i> @SharedLocalizer.GetLocalizedHtmlString("goBackButton")</a>
<a asp-action="NewProject" class="btn btn-primary">@SharedLocalizer.GetLocalizedHtmlString("createNewProjectButton")</a>
<hr />
<h2>@SharedLocalizer.GetLocalizedHtmlString("projectsList")</h2>
@if (Model.Any())
{
    <div class="table table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">@SharedLocalizer.GetLocalizedHtmlString("postTitle")</th>
                    <th scope="col">@SharedLocalizer.GetLocalizedHtmlString("projectDescription")</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><a asp-controller="Project" asp-action="Index" asp-route-projectId="@item.Project.Id">@item.Project.Name</a></td>
                        <td>@item.Project.Description</td>
                        @if (item.IsCreator == true)
                        {
                            <td><button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#DeleteProjectModal" data-whatever="@item.Project.Id"><i class="fa fa-ban"></i></button></td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="DeleteProjectModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">@SharedLocalizer.GetLocalizedHtmlString("deletionTitle")</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@SharedLocalizer.GetLocalizedHtmlString("projectDeletionBody")</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer.GetLocalizedHtmlString("noButton")</button>
                    <button id="deleteProject" type="button" class="btn btn-primary">@SharedLocalizer.GetLocalizedHtmlString("yesButton")</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger text-center" role="alert">@SharedLocalizer.GetLocalizedHtmlString("noProjects")</div>
}


@section scripts {
    <script>
        jQuery('#DeleteProjectModal').on('show.bs.modal', function (event) {
            var button = jQuery(event.relatedTarget);
            var projectId = button.data('whatever');

            var modal = jQuery(this);
            modal.find('#deleteProject').data("projectId", projectId);
        });

        jQuery("#deleteProject").click(function (e) {
            e.preventDefault();
            var button = jQuery('#deleteProject');
            var projectId = button.data('projectId');

            jQuery.ajax({
                type: 'post',
                url: '/Home/DeleteProject',
                data: JSON.stringify({
                    Id: projectId
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    location.reload();
                },
                error: function (result) { }
            });

        });

    </script>
}