@model TranslationDictionary
@inject translate.web.Resources.LocService SharedLocalizer

<div class="card">
    <div class="card-header">
        <p style="float:left">@SharedLocalizer.GetLocalizedHtmlString("key"): <strong>@Model.Name</strong></p><p style="float:right">@SharedLocalizer.GetLocalizedHtmlString("value"): <strong>@Model.GivenValue</strong></p>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <textarea id="textarea" class="form-control" rows="3">@Model.NewValue</textarea>
            </div>
            <button id="getTranslation" class="btn btn-danger">Yandex</button>
            <button id="addWord" type="submit" class="btn btn-success" style="float:right">@SharedLocalizer.GetLocalizedHtmlString("saveButton")</button>
        </form>
    </div>
</div>

<script>
    jQuery('#getTranslation').click(function (e) {
        e.preventDefault();
        var to = "@Model.Translations.Language.Code";
        var from = "@ViewBag.languageId";
        var lang = from + "-" + to;
        var imput = "@Html.Raw(Model.GivenValue)";
        imput = encodeURI(imput);

        jQuery.ajax({
            type: 'POST',
            url: 'https://translate.yandex.net/api/v1.5/tr.json/translate?lang=' + lang + '&key=@ViewBag.yandexKey&text=' + imput,
            contentType: 'application/x-www-form-urlencoded',
            success: function (result) {
                jQuery('#textarea').val(result.text);
            },
            error: function (result) {
            }
        });


    });

    jQuery('#addWord').click(function (e) {
        e.preventDefault();
        var imput = jQuery('#textarea').val();

        if (jQuery.trim(imput) == '') {
            alert('@SharedLocalizer.GetLocalizedHtmlString("notEmpty")');
        } else {

            jQuery.ajax({
                type: 'POST',
                url: '/Project/@Model.Translations.ProjectId/AddWordToDict',
                data: JSON.stringify({
                    Id: '@Model.Id',
                    NewWord: imput
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var backIndex = parseInt(jQuery('#goBack').attr("data-page"));
                    var forwardIndex = parseInt(jQuery('#goForward').attr("data-page"));
                    var index = forwardIndex - 1;
                    jQuery("#editor").empty();
                    jQuery('#editorList').load("/Project/@Model.Translations.ProjectId/GetEditorListAsync?id=" + '@Model.TranslationId' + '&PageIndex=' + index, function () {
                        jQuery('#goBack').attr("data-page", backIndex);
                        jQuery('#goForward').attr("data-page", forwardIndex);
                    });

                },
                error: function (result) {
                }
            });
        }
    });
</script>

