@model IEnumerable<TranslationDictionary>
@inject translate.web.Resources.LocService SharedLocalizer

@{
    var prevDisabled = ViewBag.previous == false ? "disabled" : "";
    var nextDisabled = ViewBag.next == false ? "disabled" : "";

}

<div class="card">
    <div class="card-header" style="height: 57px;">
        <div class="row">
            <div class="col">
                @SharedLocalizer.GetLocalizedHtmlString("leftToTranslate"):  <strong>@ViewBag.toTranslate</strong>
                @if (ViewBag.toTranslate == 0 && Model.Count() != 0)
                {
                    <form asp-controller="Project" asp-action="CompleteTranslation" method="post" style="display:inline-flex">
                        <input type="hidden" name="transId" value="@ViewBag.trans" />
                        <button type="submit" class="btn btn-dark btn-sm">@SharedLocalizer.GetLocalizedHtmlString("finishTranslation")</button>
                    </form>

                }
                <nav aria-label="Page navigation example" style="float: right; margin-bottom: 0px;">
                    <ul class="pagination" id="buttonList">
                        <li class="page-item   @prevDisabled"><a id="goBack" data-page="0" class="page-link" href="#">@SharedLocalizer.GetLocalizedHtmlString("previous")</a></li>
                        <li class="page-item @nextDisabled"><a id="goForward" data-page="2" class="page-link" href="#">@SharedLocalizer.GetLocalizedHtmlString("next")</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="buttons" class="list-group">
            @foreach (var item in Model)
            {
                var saved = item.NewValue != null ? "list-group-item-success" : "";
                if (ViewBag.hasDocument)
                {
                    <button id="li" type="button" class="list-group-item list-group-item-action @saved" data-pr="@item.Translations.ProjectId" data-key="@item.Id">@item.GivenValue</button>

                }
                else
                {
                     <button id="li" type="button" class="list-group-item list-group-item-action @saved" data-pr="@item.Translations.ProjectId" data-key="@item.Id">@item.NewValue</button>

                }

            }
        </div>
    </div>
</div>
