@model LoginViewModel
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication

@{
    Layout = "~/Views/Shared/_Account.cshtml";
}

@inject translate.web.Resources.LocService SharedLocalizer
@inject SignInManager<AppIdentityUser> SignInManager

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-4">@SharedLocalizer.GetLocalizedHtmlString("loginCaption")</div>
                    <div class="col-8">@await Html.PartialAsync("_SelectLanguagePartial")</div>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-secret"></i></span>
                        </div>
                        <input type="text" class="form-control" asp-for="Username" placeholder="@SharedLocalizer.GetLocalizedHtmlString("loginUsernamePlaceholder")" aria-label="Slapyvardis" aria-describedby="basic-addon1" required>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-asterisk"></i></span>
                        </div>
                        <input type="password" class="form-control" asp-for="Password" placeholder="@SharedLocalizer.GetLocalizedHtmlString("loginPasswordPlaceholder")" aria-label="Slaptažodis" aria-describedby="basic-addon1" required>
                    </div>
                    <div class="col-auto my-1">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" asp-for="RememberMe" class="custom-control-input" id="customControlAutosizing">
                            <label class="custom-control-label" asp-for="RememberMe" for="customControlAutosizing">@SharedLocalizer.GetLocalizedHtmlString("loginRemember")</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">@SharedLocalizer.GetLocalizedHtmlString("loginButton")</button>
                </form>
                @{
                    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                }
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        Prisijungti galite su:
                    </div>
                    <div class="col-md-6">
                        <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                <button type="submit" class="btn btn-danger" name="provider" style="float:right" value="@loginProviders.Where(x=>x.Name == "Google").Single().Name" title="Prisijunk naudodamas @loginProviders.Where(x=>x.Name == "Google").Single().DisplayName paskyrą"><i class="fa fa-google"></i> @loginProviders.Where(x => x.Name == "Google").Single().Name</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a asp-controller="Account" asp-action="ForgotPassword">Pamiršote slaptažodį?</a><br />
                        <a asp-action="Register">@SharedLocalizer.GetLocalizedHtmlString("newUserLink")</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>