@model AddToProjectViewModel


@inject translate.web.Data.ApplContext context
@inject translate.web.Resources.LocService SharedLocalizer

<div class="card">
    <div class="card-header">
        <a asp-controller="Project" asp-action="ProjectMembers">@SharedLocalizer.GetLocalizedHtmlString("projectMembers")</a>
    </div>
    <div class="card-body">
        <div id="alerti"></div>
        @if (ViewBag.creator)
        {
            <ul class="list-group">
                @foreach (var item in Model.Members)
                {
                    if (ViewBag.userId == item.Id.ToString())
                    {
                        <li class="list-group-item list-group-item-secondary">@item.Name @item.Surname</li>
                    }
                    else
                    {
                        <li class="list-group-item">@item.Name @item.Surname <button type="button" id="deleteMemberFrom" data-toggle="modal" data-project="@Model.ProjectId" data-name="@item.Name" data-whatever="@item.Id" data-target="#DeleteMemberModal" class="btn btn-danger btn-sm" style="float:right"><i class="fa fa-trash"></i></button></li>
                    }
                }
            </ul>
            <button type="button" id="addMember" class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#AddmemberModal" data-whatever="@Model.ProjectId">@SharedLocalizer.GetLocalizedHtmlString("inviteToProject")</button>
        }
        else
        {
            <ul class="list-group">
                @foreach (var item in Model.Members)
                {
                    if (ViewBag.userId == item.Id.ToString())
                    {
                        <li class="list-group-item list-group-item-secondary">@item.Name @item.Surname</li>
                    }
                    else
                    {
                        <li class="list-group-item">@item.Name @item.Surname</li>
                    }
                }
            </ul>
        }
    </div>
</div>

@if (ViewBag.creator)
{
    <div class="modal fade" id="DeleteMemberModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">@SharedLocalizer.GetLocalizedHtmlString("deletionTitle")</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@SharedLocalizer.GetLocalizedHtmlString("memberDeletionBody")</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer.GetLocalizedHtmlString("noButton")</button>
                    <button id="deleteMember" type="button" class="btn btn-primary">@SharedLocalizer.GetLocalizedHtmlString("yesButton")</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="AddmemberModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">@SharedLocalizer.GetLocalizedHtmlString("inviteToProject")</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@SharedLocalizer.GetLocalizedHtmlString("inviteToProjectBody")</p>
                    <form>
                        <input type="hidden" id="projectid" name="projectid" value="@Model.ProjectId">
                        <div class="form-group">
                            <label asp-for="Email" class="col-form-label"></label>
                            <input type="text" asp-for="Email" class="form-control" id="elpastas">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer.GetLocalizedHtmlString("cancelButton")</button>
                    <button id="addToProject" type="button" class="btn btn-primary">@SharedLocalizer.GetLocalizedHtmlString("sendButton")</button>
                </div>
            </div>
        </div>
    </div>
}