@model IEnumerable<DocumentType>
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@inject translate.web.Resources.LocService SharedLocalizer

<a asp-action="NewDocument" asp-controller="Admin" class="btn btn-info" role="button">@SharedLocalizer.GetLocalizedHtmlString("newDocument")</a>
<hr />
<h2>@SharedLocalizer.GetLocalizedHtmlString("documentsTitle")</h2>
@if (!Model.Any())
{
    <div class="alert alert-danger text-center" role="alert">@SharedLocalizer.GetLocalizedHtmlString("noDocsAdded")</div>
}
else
{
    <div class="table table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">@SharedLocalizer.GetLocalizedHtmlString("docsType")</th>
                    <th scope="col">@SharedLocalizer.GetLocalizedHtmlString("docsOptions")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@*<button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#DeleteLanguageModal" data-whatever="@item.Id"><i class="fa fa-ban"></i></button>*@</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}