@model IEnumerable<Language>
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@inject translate.web.Resources.LocService SharedLocalizer

<a asp-action="NewLanguage" asp-controller="Admin" class="btn btn-info" role="button">@SharedLocalizer.GetLocalizedHtmlString("newLanguage")</a>
<hr />
<h2>@SharedLocalizer.GetLocalizedHtmlString("languagesTitle")</h2>
@if (!Model.Any())
{
    <div class="alert alert-danger text-center" role="alert">@SharedLocalizer.GetLocalizedHtmlString("noLanguagesAdded")</div>
}
else
{
    <div class="table table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">@SharedLocalizer.GetLocalizedHtmlString("langTitle")</th>
                    <th scope="col">@SharedLocalizer.GetLocalizedHtmlString("langOpts")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@*<button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#DeleteLanguageModal" data-whatever="@item.Id"><i class="fa fa-ban"></i></button>*@</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div class="modal fade" id="DeleteLanguageModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">@SharedLocalizer.GetLocalizedHtmlString("deletionTitle")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>@SharedLocalizer.GetLocalizedHtmlString("langDeleteBody")</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer.GetLocalizedHtmlString("noButton")</button>
                <button id="deleteLanguage" type="button" class="btn btn-primary">@SharedLocalizer.GetLocalizedHtmlString("yesButton")</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>

        //TODO: FIX SCHEME, CANT DELETE LANGUAGE :/

        jQuery('#DeleteLanguageModal').on('show.bs.modal', function (event) {
            var button = jQuery(event.relatedTarget);
            var recipient = button.data('whatever');

            var modal = jQuery(this);
            modal.find('#deleteLanguage').data('recipient', recipient);
        });

        jQuery("#deleteLanguage").click(function (e) {
            e.preventDefault();
            var button = jQuery('#deleteLanguage');
            var languageId = button.data('recipient');

            jQuery.ajax({
                type: 'post',
                url: "/Admin/DeleteLanguage",
                data: JSON.stringify({
                    Id: languageId
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    location.reload();
                },
                error: function (result) { }
            });

        });
    </script>
}
