
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@inject translate.web.Resources.LocService SharedLocalizer

<h2>@SharedLocalizer.GetLocalizedHtmlString("usersTitle")</h2>

<div class="table table-responsive">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th scope="col">@SharedLocalizer.GetLocalizedHtmlString("nameSurname")</th>
                <th scope="col">@SharedLocalizer.GetLocalizedHtmlString("emailAddress")</th>
                <th scope="col">@SharedLocalizer.GetLocalizedHtmlString("state")</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th scope="col">@SharedLocalizer.GetLocalizedHtmlString("nameSurname")</th>
                <th scope="col">@SharedLocalizer.GetLocalizedHtmlString("emailAddress")</th>
                <th scope="col">@SharedLocalizer.GetLocalizedHtmlString("state")</th>
            </tr>
        </tfoot>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@SharedLocalizer.GetLocalizedHtmlString("userRoles")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>@SharedLocalizer.GetLocalizedHtmlString("giveAdmin")</p>
            </div>
            <div class="modal-footer">
                <button id="toAdminBtn" type="button" class="btn btn-primary">@SharedLocalizer.GetLocalizedHtmlString("yesButton")</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer.GetLocalizedHtmlString("noButton")</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="toOrdinary" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@SharedLocalizer.GetLocalizedHtmlString("userRoles")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>@SharedLocalizer.GetLocalizedHtmlString("removeAdmin")</p>
            </div>
            <div class="modal-footer">
                <button id="toOrdinaryBtn" type="button" class="btn btn-primary">@SharedLocalizer.GetLocalizedHtmlString("yesButton")</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer.GetLocalizedHtmlString("noButton")</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var table = jQuery('#example').DataTable({
            "ajax": {
                "url": "/Admin/GetUsersAjax",
                "dataSrc": ""
            },
            "columns": [
                { "data": "result.fullName" },
                { "data": "result.email" },
                { "data": "result.state" }
            ],
            "language": {
                "lengthMenu": "@SharedLocalizer.GetLocalizedHtmlString("dtrecords") _MENU_ @SharedLocalizer.GetLocalizedHtmlString("dtPerPage")",
                "zeroRecords": "@SharedLocalizer.GetLocalizedHtmlString("dtRecorsNotFound")",
                "info": "@SharedLocalizer.GetLocalizedHtmlString("dtshowingOf") _PAGE_ @SharedLocalizer.GetLocalizedHtmlString("dtof") _PAGES_",
                "infoEmpty": "@SharedLocalizer.GetLocalizedHtmlString("dtNoRecords")",
                "infoFiltered": "(@SharedLocalizer.GetLocalizedHtmlString("dtFilteredFrom") _MAX_ @SharedLocalizer.GetLocalizedHtmlString("dtTotalRecords"))",
                "search": "@SharedLocalizer.GetLocalizedHtmlString("dtSearch")",
                "paginate": {
                    "first": "@SharedLocalizer.GetLocalizedHtmlString("dtFirst")",
                    "last": "@SharedLocalizer.GetLocalizedHtmlString("dtLast")",
                    "next": "@SharedLocalizer.GetLocalizedHtmlString("dtNext")",
                    "previous": "@SharedLocalizer.GetLocalizedHtmlString("dtPrevious")"
                }
            }
        });


        jQuery('#example tbody').on('click', 'tr', function () {
            var data = table.row(this).data();

            if (data.result.isAdmin == true) {
                jQuery('#toOrdinary').modal();
                jQuery('#toOrdinaryBtn').attr("user", data.result.userId);

                jQuery("#toOrdinaryBtn").click(function (e) {
                    e.preventDefault();
                    var button = jQuery('#toOrdinaryBtn');
                    var userId = button.attr("user");

                    jQuery.ajax({
                        type: 'post',
                        url: "/Admin/UpdatedToOrdinaryAsync",
                        data: JSON.stringify({
                            Id: userId
                        }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            location.reload();
                        },
                        error: function (result) { }
                    });

                });

            } else {
                jQuery('#myModal').modal();
                jQuery('#toAdminBtn').attr("user", data.result.userId);


                jQuery("#toAdminBtn").click(function (e) {
                    e.preventDefault();
                    var button = jQuery('#toAdminBtn');
                    var userId = button.attr("user");

                    jQuery.ajax({
                        type: 'post',
                        url: "/Admin/UpdatedToAdminAsync",
                        data: JSON.stringify({
                            Id: userId
                        }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            location.reload();
                        },
                        error: function (result) { }
                    });

                });
            }


        });
    </script>
}